@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-custom-light text-custom-dark dark:bg-custom-dark dark:text-custom-light;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* body {
  font-family: var(--font-poppins)
} */

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%) hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  /* .group {
    @apply  text-secondary-dark hover:text-primary-light dark:hover:text-primary-dark lg:hover:text-white lg:dark:hover:text-white lg:hover:bg-primary-light lg:dark:bg-secondary-dark lg:dark:hover:bg-primary-dark dark:text-white  flex flex-row-reverse lg:flex-row gap-5 lg:hover:-translate-x-1;
  } */

  /* .navIcon {
    @apply border border-primary-light dark:border-primary-dark hover:before:bg-primary-light dark:hover:before:bg-primary-dark relative overflow-hidden transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:h-full before:z-0 before:w-0 before:transition-all before:duration-500 hover:text-white hover:before:right-0 hover:before:w-full;
  } */

  .navIcon {
    @apply group-hover:bg-primary-light group-hover:dark:bg-primary-dark rounded-full px-3 py-3 transition-all duration-500 group-hover:text-white;
  }

  .navItems {
    @apply rounded-full lg:hover:bg-primary-light lg:dark:hover:bg-primary-dark before:z-0 before:w-0 transition-all duration-500 hover:text-primary-light dark:hover:text-primary-dark lg:hover:text-white hover:before:right-0 hover:before:w-full;
  }

  .addText {
    @apply inline-block whitespace-nowrap transition-all duration-500 transform opacity-0 text-white translate-x-10 pointer-events-none group-hover:-translate-x-0 group-hover:opacity-100;
  }

  .bgBlock {
    @apply fixed h-[200%] w-full bg-primary-light dark:bg-primary-dark -rotate-12 -left-[83%] -top-2/4
  }

  .prime-title {
    @apply h1-bold text-secondary-light dark:text-secondary-dark absolute right-0 left-0 top-1/2 -translate-y-1/2
  }


  mark {
    @apply bg-transparent text-primary-light dark:text-primary-dark;
  }

  .btn {
    @apply border border-primary-light dark:border-primary-dark hover:before:bg-primary-light dark:hover:before:bg-primary-dark relative overflow-hidden transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:h-full before:z-0 before:w-0 before:transition-all before:duration-500 hover:text-white hover:before:right-0 hover:before:w-full;
  }


  .section {
    @apply py-12 md:py-16;
  }

  .container-md {
    @apply max-w-7xl mx-auto px-3;
  }


  .icon-link-btn {
    @apply flex items-center justify-center gap-2.5 px-2 p-1 rounded transition-colors hover:bg-secondary-light dark:hover:bg-secondary-dark;
  }

  .icon-link-btn--outline {
    @apply border border-secondary-light dark:border-secondary-dark;
  }

  .icon-link-btn--active {
    @apply bg-secondary-light dark:bg-secondary-dark;
  }


  .h1-bold {
    @apply font-extrabold text-[60px] leading-[48px] lg:text-[80px] lg:leading-[60px] xl:text-[110px] xl:leading-[74px] tracking-[10px];
  }

  /* 40 */
  .h2-bold {
    @apply font-extrabold text-[34px] leading-[40px] lg:text-[40px] lg:leading-[44px] xl:text-[56px] xl:leading-[48px];
  }

  .h2-medium {
    @apply font-medium text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  /* 36 */
  .h3-bold {
    @apply font-bold text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  .h3-medium {
    @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  /* 32 */
  .h4-medium {
    @apply font-medium text-[32px] leading-[40px];
  }

  /* 28 */
  .h5-bold {
    @apply font-bold text-[28px] leading-[36px];
  }

  /* 24 */
  .p-bold-24 {
    @apply font-bold text-[24px] leading-[36px];
  }

  .p-medium-24 {
    @apply font-medium text-[24px] leading-[36px];
  }

  .p-regular-24 {
    @apply font-normal text-[24px] leading-[36px];
  }

  /* 20 */
  .p-bold-20 {
    @apply font-bold text-[20px] leading-[30px] tracking-[2%];
  }

  .p-semibold-20 {
    @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
  }

  .p-medium-20 {
    @apply text-[20px] font-medium leading-[30px];
  }

  .p-regular-20 {
    @apply text-[20px] font-normal leading-[30px] tracking-[2%];
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
  }

  .p-medium-18 {
    @apply text-[18px] font-medium leading-[28px];
  }

  .p-regular-18 {
    @apply text-[18px] font-normal leading-[28px] tracking-[2%];
  }

  /* 16 */
  .p-bold-16 {
    @apply text-[15px] font-bold leading-[24px];
  }

  .p-medium-16 {
    @apply text-[16px] font-medium leading-[24px];
  }

  .p-regular-16 {
    @apply text-[16px] font-normal leading-[24px];
  }

  .p-semibold-16 {
    @apply text-[16px] font-semibold leading-[24px];
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-[14px] font-semibold leading-[20px];
  }

  .p-medium-14 {
    @apply text-[14px] font-medium leading-[20px];
  }

  .p-regular-14 {
    @apply text-[14px] font-normal leading-[20px];
  }

  .p-semibold-13 {
    @apply text-[13px] font-semibold leading-[20px];
  }


  /* 12 */
  .p-medium-12 {
    @apply text-[12px] font-medium leading-[20px];
  }

  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  /* LOADER */

  .preloader {
    @apply fixed top-0 right-0 bottom-0 left-0 bg-custom-light dark:bg-custom-dark origin-bottom z-50;
  }

  .black_wall {
    @apply h-[100%] bg-secondary-light dark:bg-secondary-dark origin-top animate-[preloader-slide_0.5s_ease-in-out_0s_1_normal_both];
  }

  .loader {
    @apply w-full h-[3px] absolute rounded-[2px] top-0 right-0 left-0 m-auto bg-primary-light dark:bg-primary-dark origin-left animate-[loader-running_3s_ease-in-out_1s_infinite_normal_both];
  }

  .preloader.off {
    @apply animate-[preloader-slide0.5s_ease-in-out_0s_1_reverse_both];
  }


  /* GALLERY */

  .gallery-item.image-gallery {
    @apply w-[inherit] h-[inherit];
  }

  .gallery-item :is(.image-gallery-content,
    .image-gallery-slide-wrapper,
    .image-gallery-swipe,
    .image-gallery-slides,
    .image-gallery-slide,
    .image-gallery-slide img) {
    @apply w-[inherit] h-[inherit];
  }

  .gallery-item .image-gallery-slide {
    @apply cursor-default;
  }

  .gallery-item .image-gallery-slide img {
    @apply h-[inherit] w-[inherit] object-cover;
  }

  .gallery-item :is(.image-gallery-left-nav, .image-gallery-right-nav) {
    @apply top-0 bottom-0 transform-none px-0 opacity-10 transition-opacity;
  }

  .gallery-item .image-gallery-svg {
    @apply !h-20;
  }

  .gallery-item .image-gallery-fullscreen-button {
    @apply absolute top-0 bottom-0 left-[60px] w-[calc(100%-120px)] p-5 flex-center opacity-0 transition-opacity;
  }

  .gallery-item .image-gallery-fullscreen-button .image-gallery-svg {
    @apply !h-8 !w-8;
  }

  .gallery-item:hover .image-gallery-fullscreen-button {
    @apply opacity-100 cursor-zoom-in;
  }

  .gallery-item .image-gallery-right-nav:hover,
  .gallery-item .image-gallery-left-nav:hover {
    @apply opacity-100;
  }

  .gallery-item .image-gallery-icon:focus {
    @apply opacity-100;
  }

  .image-gallery-content.fullscreen .image-gallery-fullscreen-button {
    @apply hidden;
  }

  .image-gallery-content.fullscreen .image-gallery-slide img {
    @apply object-contain;
  }

  #projects .image-gallery-index {
    @apply hidden;
  }

}