@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-custom-light text-custom-dark dark:bg-custom-dark dark:text-custom-light;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* body {
  font-family: var(--font-poppins)
} */

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%) hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  /* .group {
    @apply  text-secondary-dark hover:text-primary-light dark:hover:text-primary-dark lg:hover:text-white lg:dark:hover:text-white lg:hover:bg-primary-light lg:dark:bg-secondary-dark lg:dark:hover:bg-primary-dark dark:text-white  flex flex-row-reverse lg:flex-row gap-5 lg:hover:-translate-x-1;
  } */

  /* .navIcon {
    @apply border border-primary-light dark:border-primary-dark hover:before:bg-primary-light dark:hover:before:bg-primary-dark relative overflow-hidden transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:h-full before:z-0 before:w-0 before:transition-all before:duration-500 hover:text-white hover:before:right-0 hover:before:w-full;
  } */

  .navIcon {
    @apply group-hover:bg-primary-light group-hover:dark:bg-primary-dark rounded-full px-3 py-3 transition-all duration-500 group-hover:text-white;
  }

  .navItems {
    @apply rounded-full lg:hover:bg-primary-light lg:dark:hover:bg-primary-dark before:z-0 before:w-0 transition-all duration-500 hover:text-primary-light dark:hover:text-primary-dark lg:hover:text-white hover:before:right-0 hover:before:w-full;
  }

  .addText {
    @apply inline-block whitespace-nowrap transition-all duration-500 transform opacity-0 text-white translate-x-10 pointer-events-none group-hover:-translate-x-0 group-hover:opacity-100;
  }

  .bgBlock {
    @apply fixed h-[200%] w-full bg-primary-light dark:bg-primary-dark -rotate-12 -left-[83%] -top-2/4
  }

  .prime-title {
    @apply h1-bold text-secondary-light dark:text-secondary-dark absolute right-0 left-0 top-1/2 -translate-y-1/2
  }


  mark {
    @apply bg-transparent text-primary-light dark:text-primary-dark;
  }

  .btn {
    @apply border border-primary-light dark:border-primary-dark hover:before:bg-primary-light dark:hover:before:bg-primary-dark relative overflow-hidden transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:h-full before:z-0 before:w-0 before:transition-all before:duration-500 hover:text-white hover:before:right-0 hover:before:w-full;
  }


  .h1-bold {
    @apply font-extrabold text-[60px] leading-[48px] lg:text-[80px] lg:leading-[60px] xl:text-[110px] xl:leading-[74px] tracking-[10px];
  }

  /* 40 */
  .h2-bold {
    @apply font-extrabold text-[34px] leading-[40px] lg:text-[40px] lg:leading-[44px] xl:text-[56px] xl:leading-[48px];
  }

  .h2-medium {
    @apply font-medium text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  /* 36 */
  .h3-bold {
    @apply font-bold text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  .h3-medium {
    @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  /* 32 */
  .h4-medium {
    @apply font-medium text-[32px] leading-[40px];
  }

  /* 28 */
  .h5-bold {
    @apply font-bold text-[28px] leading-[36px];
  }

  /* 24 */
  .p-bold-24 {
    @apply font-bold text-[24px] leading-[36px];
  }

  .p-medium-24 {
    @apply font-medium text-[24px] leading-[36px];
  }

  .p-regular-24 {
    @apply font-normal text-[24px] leading-[36px];
  }

  /* 20 */
  .p-bold-20 {
    @apply font-bold text-[20px] leading-[30px] tracking-[2%];
  }

  .p-semibold-20 {
    @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
  }

  .p-medium-20 {
    @apply text-[20px] font-medium leading-[30px];
  }

  .p-regular-20 {
    @apply text-[20px] font-normal leading-[30px] tracking-[2%];
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
  }

  .p-medium-18 {
    @apply text-[18px] font-medium leading-[28px];
  }

  .p-regular-18 {
    @apply text-[18px] font-normal leading-[28px] tracking-[2%];
  }

  /* 16 */
  .p-bold-16 {
    @apply text-[15px] font-bold leading-[24px];
  }

  .p-medium-16 {
    @apply text-[16px] font-medium leading-[24px];
  }

  .p-regular-16 {
    @apply text-[16px] font-normal leading-[24px];
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-[14px] font-semibold leading-[20px];
  }

  .p-medium-14 {
    @apply text-[14px] font-medium leading-[20px];
  }

  .p-regular-14 {
    @apply text-[14px] font-normal leading-[20px];
  }

  /* 12 */
  .p-medium-12 {
    @apply text-[12px] font-medium leading-[20px];
  }


  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

}


.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  transform-origin: bottom;
  z-index: 111111
}

.preloader .black_wall {
  height: 100%;
  background-color: #222;
  transform-origin: top;
  animation: preloader_slide 0.5s ease-in-out 0s 1 normal both
}

.preloader .loader {
  width: 100%;
  height: 3px;
  position: absolute;
  border-radius: 2px;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #FFC41F;
  transform-origin: left;
  animation: loader_running 3s ease-in-out 1s infinite normal both
}

.preloader.off {
  animation: preloader_slide 0.5s ease-in-out 0s 1 reverse both
}

@keyframes loader_running {
  0% {
    transform: scaleX(0);
    transform-origin: left
  }

  49% {
    transform: scaleX(1);
    transform-origin: left
  }

  50% {
    transform: scaleX(1);
    transform-origin: right
  }

  100% {
    transform-origin: right;
    transform: scaleX(0)
  }
}

@keyframes preloader_slide {
  from {
    transform: scaleY(0)
  }

  to {
    transform: scaleY(1)
  }
}